<footer class="text-gray-600 body-font ">

    <div class="bg-gray-100 mt-5  ">
        <div class="container mx-auto py-8 px-5  sm:flex-row ">
            <p class="text-gray-500 text-sm text-center sm:text-left">© 2021 Rights Reserved —
                <a href="https://twitter.com/knyttneve" rel="noopener noreferrer" class="text-gray-600 ml-1"
                    target="_blank">@WeathertrackerApp</a>
            </p>

        </div>
    </div>
</footer>